{% extends "layout.html" %}

{% block title %}
    Kategori Lista
{% endblock %}

{% block main %}

<style>
    th, td {
        border: 1px solid #ddd;
    }
    @media screen and (max-width: 600px) {
        th, td {
            font-size: 9px;  /* Adjust font size for smaller screens */
            padding: 4px;     /* Reduce padding */
        }
    }
</style>

<h2>{{category_metrics.title}}</h2>

<td><a href="/products"><h4>Gå tillbaka</h4></a></td>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="plotly-container">
    <div id="plotly-graph"></div>
    <u><h3>Prisstatistik för kategorin</h3></u>
<table style="height: 0.5%;">
    <thead>
        <tr>    
            <th>Prisförändring senaste dygnet (%)</th>
            <th>Prisförändring senaste 7 Dagarna (%)</th>
            <th>Prisförändring senaste 14 Dagarna (%)</th>
            <th>Prisförändring senaste 30 Dagarna (%)</th>
            <!--
            <th>Price change last 6 Months (kr)</th>
            <th>Price change last 6 Months (%)</th>
            <th>Price change last Year (kr)</th>
            <th>Price change last Year (%)</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="color: {{ 'green' if category_metrics.price_percentage_yesterday != 'N/A' and category_metrics.price_percentage_yesterday >= 0 else 'red' }}">{{ category_metrics.price_percentage_yesterday}}</td>
            <td style="color: {{ 'green' if category_metrics.price_percentage_7_days != 'N/A' and category_metrics.price_percentage_7_days >= 0 else 'red' }}">{{category_metrics.price_percentage_7_days}}</td>
            <td style="color: {{ 'green' if category_metrics.price_percentage_14_days != 'N/A' and category_metrics.price_percentage_14_days >= 0 else 'red' }}">{{category_metrics.price_percentage_14_days}}</td>
            <td style="color: {{ 'green' if category_metrics.price_percentage_30_days != 'N/A' and category_metrics.price_percentage_30_days >= 0 else 'red' }}">{{category_metrics.price_percentage_30_days}}</td>

            <!--
            <td>Price change last 6 Months (%)</td>
            <td>Price change last Year (%)</td>
            -->
        </tr>
    </tbody>
</table>
</div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph', graphJson.data, graphJson.layout);
</script>

<hr>


        <!-- Table 1: Products -->
        <div class="container">
            <div style="height: 300px; overflow-y: auto; width: 100%;">
                <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                    <thead>
                        <tr>
                            <th>Produkt Namn</th>
                            <th>Vikt</th>
                            <th>Pris</th>
                            <th>Högsta pris</th>
                            <th>Lägsta pris</th>
                            <th>Jmf-pris</th>
                            <!--<th>Kategori</th>
                            <th>Datum</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in combined_dict %}
                        <tr>
                            <td style="width: fit-content;"><a href="/products/{{ product.product_code }}">{{ product.product_name }}</a></td>
                            <td>{{ product.weight }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.max_price }}</td>
                            <td>{{ product.min_price }}</td>
                            <td>{{ product.unit }}</td>
                            <!--<td>{{ product.category }}</td>
                            <td>{{ product.date}}</td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


{% endblock %}
