{% extends "layout.html" %}

{% block title %}
    Kategori Lista
{% endblock %}

{% block main %}

<td><a href="/products"><h4>Gå tillbaka</h4></a></td>

<h1>Visa efter kategori</h1>
<form id="category-form" method="post">
    <label for="category-select">Välj en kategori:</label>
    <select id="category-select" name="category">
        <option value="skafferi">Skafferi</option>
        <option value="mejeri-ost-och-agg">Mejeri ost och ägg</option>
        <option value="frukt-och-gront">Frukt och grönt</option>
        <option value="kott-chark-och-fagel">Kött chark och fågel</option>
        <option value="fisk-och-skaldjur">Fisk och skaldjur</option>
        <option value="fardigmat">Färdigmat</option>
        <option value="dryck">Dryck</option>
        <option value="glass-godis-och-snacks">Glass godis och snacks</option>
    </select>
    <input type="submit" value="Show" style="display: none;"> <!-- Hidden submit button -->
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('category-select').addEventListener('change', function() {
        document.getElementById('category-form').submit(); // Submit the form when the select value changes
        // Store the selected category in sessionStorage
        var categorySelect = document.getElementById('category-select');
        sessionStorage.setItem('selectedCategory', categorySelect.value);
        });
        
        // Retrieve the selected category from sessionStorage
        var selectedCategory = sessionStorage.getItem('selectedCategory');
        if (selectedCategory) {
            // Set the selected category in the dropdown
            document.getElementById('category-select').value = selectedCategory;
        }
    window.addEventListener('beforeunload', function() {
    localStorage.clear();
});
    });

</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-graph" style="height: fit-content; margin: 0 auto; width: 80%;"></div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph', graphJson.data, graphJson.layout);
</script>

<hr>

<u><h3>Prisstatistik för kategorin / WORK IN PROGRESS</h3></u>
<table style="height: 1%;">
    <thead>
        <tr>    
            <th>Prisförändring senaste 7 Dagarna (%)</th>
            <th>Prisförändring senaste 14 Dagarna (%)</th>
            <th>Prisförändring senaste 30 Dagarna (%)</th>
            <!--
            <th>Price change last 6 Months (kr)</th>
            <th>Price change last 6 Months (%)</th>
            <th>Price change last Year (kr)</th>
            <th>Price change last Year (%)</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="color: {{ 'green' if category_metrics.price_percentage_7_days != 'N/A' and category_metrics.price_percentage_7_days >= 0 else 'red' }}">{{category_metrics.price_percentage_7_days}}</td>
            <td style="color: {{ 'green' if category_metrics.price_percentage_14_days != 'N/A' and category_metrics.price_percentage_14_days >= 0 else 'red' }}">{{category_metrics.price_percentage_14_days}}</td>
            <td style="color: {{ 'green' if category_metrics.price_percentage_30_days != 'N/A' and category_metrics.price_percentage_30_days >= 0 else 'red' }}">{{category_metrics.price_percentage_30_days}}</td>

            <!--
            <td>Price change last 6 Months (%)</td>
            <td>Price change last Year (%)</td>
            -->
        </tr>
    </tbody>
</table>

<hr>

<div style="overflow-x: auto; display: flex;">
    <div style="flex: 1;">
        <!-- Table 1: Products -->
        <div style="height: 300px; overflow-y: auto; margin-right: 5px;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produkt Namn</th>
                        <th>Vikt</th>
                        <th>Kategori</th>
                        <th>Produkt Kod</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a href="/products/{{ product.product_code }}">{{ product.product_name }}</a></td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.product_code }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div style="flex: 1;">
        <!-- Table 2: Price History -->
        <div style="height: 300px; overflow-y: auto; margin-left: 5px;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produkt ID</th>
                        <th>Pris</th>
                        <th>Jmf-pris</th>
                        <th>Datumn</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in price_history %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.product_id }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
