{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h2>Financial Summary</h2>
    <table id="transaction-table" class="trt">
        <thead>
            <tr>
                <th>Stock Balance</th>
                <th>Account Balance</th>
                <th>Total Balance</th>
                <th>Development Today</th>
                <th>Development Today</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <!-- Add more data fields as needed -->
            </tr>
        </tbody>
    </table>
<h2>Your Stock Portfolio</h2>
    <table id="transaction-table" class="trt">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Volume</th>
                <th>Price per Stock [USD]</th>
                <th>Total Price [USD]</th>
                <th>Development Today [USD]</th>
                <th>Development Today [%]</th>
                <!-- Add more headers as needed -->
            </tr>
        </thead>
    </table>
{% endblock %}
