{% extends "layout.html" %}

{% block title %}
    Hem
{% endblock %}

{% block main %}
<div class="container">
    <h1 style="color:#333; text-align: center;">Välkommen till Mat Väktaren!</h1>
    <p>Vi tillhandahåller historiska värden och statistik för livsmedelsprodukter samt verktyg för att analysera trender och planera din matbudget smartare sedan 2024-05-13.</p>
    <p>Utforska vårt omfattande urval av 88 livsmedelsprodukter och få insikter om prisförändringar över tid. Oavsett om du letar efter det bästa priset på dina favoritvaror eller vill upptäcka nya sätt att spara pengar på matinköp, så är Mat Väktaren här för att hjälpa dig.</p>
    <p>Ta del av vår användarvänliga plattform och upptäck hur du kan maximera värdet av varje krona du spenderar på mat. Gå med oss idag och ta kontroll över dina matkostnader!</p>
    <p><a href="/products" class="btn">Känn dig fri att utforska hemsidan!</a></p>
</div>
<div id="plotly-graph1" style="height: fit-content; width: 50%; margin: 0 auto;"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Parse the Plotly JSON and display the graphs
    var graphJson = {{ graph_json|safe }};

    Plotly.newPlot('plotly-graph1', graphJson.data, graphJson.layout);

    // Redraw graphs on window resize
    window.addEventListener('resize', function() {
        Plotly.Plots.resize('plotly-graph1');
    });
</script>
{% endblock %}
