{% extends "layout.html" %}

{% block title %}
    Product List
{% endblock %}

{% block main %}


<h1>Show by category</h1>
<form id="category-form" method="post">
    <label for="category-select">Select a category:</label>
    <select id="category-select" name="category">
        <option value="skafferi">Skafferi</option>
        <option value="mejeri-ost-och-agg">Mejeri ost och ägg</option>
        <option value="frukt-och-gront">Frukt och grönt</option>
        <option value="kott-chark-och-fagel">Kött chark och fågel</option>
        <option value="fisk-och-skaldjur">Fisk och skaldjur</option>
        <option value="fardigmat">Färdigmat</option>
        <option value="dryck">Dryck</option>
        <option value="glass-godis-och-snacks">Glass godis och snacks</option>
    </select>
    <input type="submit" value="Show" style="display: none;"> <!-- Hidden submit button -->
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('category-select').addEventListener('change', function() {
        document.getElementById('category-form').submit(); // Submit the form when the select value changes
        // Store the selected category in sessionStorage
        var categorySelect = document.getElementById('category-select');
        sessionStorage.setItem('selectedCategory', categorySelect.value);
    });
        // Retrieve the selected category from sessionStorage
        var selectedCategory = sessionStorage.getItem('selectedCategory');
    });
</script>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-graph1"></div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph1', graphJson.data, graphJson.layout);
</script>
<hr>
<u><h2>Total price of all products</h2></u>
<div id="plotly-graph2"></div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson2 = {{ graph2_json|safe }};
    Plotly.newPlot('plotly-graph2', graphJson2.data, graphJson2.layout);
</script>
<u><h3>Statistics of total price / WORK IN PROGRESS</h3></u>
<table>
    <thead>
        <tr>
            <th>All-time high (kr)</th>
            <th>All-time low (kr)</th>
            <th>Average price (kr)</th>
            <th>Price change last 7 Days (kr)</th>
            <th>Price change last 7 Days (%)</th>
            <th>Price change last 14 Days (kr)</th>
            <th>Price change last 14 Days (%)</th>
            <th>Price change last 30 Days (kr)</th>
            <th>Price change last 30 Days (%)</th>
            <!--
            <th>Price change last 6 Months (kr)</th>
            <th>Price change last 6 Months (%)</th>
            <th>Price change last Year (kr)</th>
            <th>Price change last Year (%)</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{total_metrics.all_time_high}}</td>
            <td>{{total_metrics.all_time_low}}</td>
            <td>{{total_metrics.average_price}}</td>
            <td>{{total_metrics.price_change_7_days}}</td>
            <td>{{total_metrics.price_percentage_7_days}}</td>
            <td>{{total_metrics.price_change_14_days}}</td>
            <td>{{total_metrics.price_percentage_14_days}}</td>
            <td>{{total_metrics.price_change_30_days}}</td>
            <td>{{total_metrics.price_percentage_30_days}}</td>
            <!--
            <td>Price change last 6 Months (kr)</td>
            <td>Price change last 6 Months (%)</td>
            <td>Price change last Year (kr)</td>
            <td>Price change last Year (%)</td>
            -->
        </tr>
    </tbody>
</table>

<hr>

<div style="overflow-x: auto; display: flex;">
    <div style="flex: 1;">
        <!-- Table 1: Products -->
        <div style="height: 300px; overflow-y: auto; margin-right: 5px;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Weight</th>
                        <th>Category</th>
                        <th>Product Code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a href="/products/{{ product.product_code }}">{{ product.product_name }}</a></td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.product_code }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div style="flex: 1;">
        <!-- Table 2: Price History -->
        <div style="height: 300px; overflow-y: auto; margin-left: 5px;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product ID</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Pushed Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in price_history %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.product_id }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
