{% extends "layout.html" %}

{% block title %}
    Produkt Lista
{% endblock %}

{% block main %}

<style>
    th, td {
        border: 1px solid #ddd;
    }
    @media screen and (max-width: 600px) {
        th, td {
            font-size: 9px;  /* Adjust font size for smaller screens */
            padding: 4px;     /* Reduce padding */
        }
    }
</style>

<h1>Visa efter kategori</h1>
<form id="category-form" method="post">
    <label for="category-select">Välj en kategory:</label>
    <select id="category-select" name="category">
        <option value=""></option>
        <option value="skafferi">Skafferi</option>
        <option value="mejeri-ost-och-agg">Mejeri ost och ägg</option>
        <option value="frukt-och-gront">Frukt och grönt</option>
        <option value="kott-chark-och-fagel">Kött chark och fågel</option>
        <option value="fisk-och-skaldjur">Fisk och skaldjur</option>
        <option value="fardigmat">Färdigmat</option>
        <option value="dryck">Dryck</option>
        <option value="glass-godis-och-snacks">Glass godis och snacks</option>
    </select>
    <input type="submit" value="Show" style="display: none;"> <!-- Hidden submit button -->
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('category-select').addEventListener('change', function() {
        document.getElementById('category-form').submit(); // Submit the form when the select value changes
        // Store the selected category in sessionStorage
        var categorySelect = document.getElementById('category-select');
        sessionStorage.setItem('selectedCategory', categorySelect.value);
    });
        // Retrieve the selected category from sessionStorage
        var selectedCategory = sessionStorage.getItem('selectedCategory');
    });
</script>

<hr>

<u><h2>Totalt pris av alla produkter</h2></u>
    <!--
    <div class="plotly-container" id="graph1-container">
        <div id="plotly-graph1"></div>
    </div>
    -->

<div class="plotly-container" id="graph2-container">
    <div id="plotly-graph2"></div>

    <u style="color: black;"><h3>Statistik av totalt pris</h3></u>
    <table style="height: 0.5%;">
        <thead>
            <tr>
                <th>Pris förändring senaste dygnet (%)</th>
                <th>Pris förändring senaste 7 Dagarna (%)</th>
                <th>Pris förändring senaste 14 Dagarna (%)</th>
                <th>Pris förändring senaste 30 Dagarna (%)</th>
                <!--
                <th>Price change last 6 Months (kr)</th>
                <th>Price change last 6 Months (%)</th>
                <th>Price change last Year (kr)</th>
                <th>Price change last Year (%)</th>
                -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: {{ 'green' if total_metrics.price_percentage_yesterday != 'N/A' and total_metrics.price_percentage_yesterday >= 0 else 'red' }}">{{ total_metrics.price_percentage_yesterday}}</td>
                <td style="color: {{ 'green' if total_metrics.price_percentage_7_days != 'N/A' and total_metrics.price_percentage_7_days >= 0 else 'red' }}">{{ total_metrics.price_percentage_7_days}}</td>
                <td style="color: {{ 'green' if total_metrics.price_percentage_14_days != 'N/A' and total_metrics.price_percentage_14_days >= 0 else 'red' }}">{{ total_metrics.price_percentage_14_days }}</td>
                <td style="color: {{ 'green' if total_metrics.price_percentage_30_days != 'N/A' and total_metrics.price_percentage_30_days >= 0 else 'red' }}">{{ total_metrics.price_percentage_30_days }}</td>
            
                <!--
                <td>Price change last 6 Months (%)</td>
                <td>Price change last Year (%)</td>
                -->
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Parse the Plotly JSON and display the graphs
    //var graphJson = {{ graph_json|safe }};
    var graphJson2 = {{ graph2_json|safe }};

    //Plotly.newPlot('plotly-graph1', graphJson.data, graphJson.layout);
    Plotly.newPlot('plotly-graph2', graphJson2.data, graphJson2.layout);

    // Redraw graphs on window resize
    window.addEventListener('resize', function() {
        //Plotly.Plots.resize('plotly-graph1');
        Plotly.Plots.resize('plotly-graph2');
    });
</script>



<hr>

        <!-- Table 1: Products -->
        <div class="container">
        <div style="height: 300px; overflow-y: auto; width: 100%;">
            <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
                <thead>
                    <tr>
                        <th>Produkt Namn</th>
                        <th>Vikt</th>
                        <th>Nuvarande pris (kr)</th>
                        <th>Högsta pris (kr)</th>
                        <th>Lägsta pris (kr)</th>
                        <th>Jmf-pris</th>
                        <!--<th>Kategori</th>
                        <th>Datum</th>-->
                    </tr>
                </thead>
                <tbody>
                    {% for product in combined_dict %}
                    <tr>
                        <td><a href="/products/{{ product.product_code }}">{{ product.product_name }}</a></td>
                        <td>{{ product.weight }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.max_price }}</td>
                        <td>{{ product.min_price }}</td>
                        <td>{{ product.unit }}</td>
                        <!--<td>{{ product.category }}</td>
                        <td>{{ product.date}}</td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
