{% extends "layout.html" %}

{% block title %}
    Product
{% endblock %}

{% block main %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-graph"></div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph', graphJson.data, graphJson.layout);
</script>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Weight</th>
            <th>Category</th>
            <th>Product Code</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td><a href="/product/{{ product.product_code }}">{{ product.product_name }}</a></td>
            <td>{{ product.weight }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.product_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr> <!-- Add a horizontal line to visually separate products and price history -->

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Product ID</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Pushed Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in price_history %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.product_id }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.pushed_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
