{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="register-container">
    <form id="registrationForm" action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Användarnamn" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control" id="password" name="password" placeholder="Lösenord" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="Återupprepa Lösenord" required>
            <p id="passwordError" class="text-danger"></p>
        </div>
        <button class="btn btn-rainbow" type="submit">Registrera</button>
    </form>
    </div>
    <script src="static/js/reTypePassword.js"></script>
{% endblock %}
