{% extends "layout.html" %}

{% block title %}
    {{product.product_name}}
{% endblock %}

{% block main %}

<style>
    th, td {
        border: 1px solid #ddd;
    }
    @media screen and (max-width: 600px) {
        th, td {
            font-size: 9px;  /* Adjust font size for smaller screens */
            padding: 4px;     /* Reduce padding */
        }
    }
</style>

<td><a href="/products"><h4>Gå tillbaka</h4></a></td>

<u><h1>{{product.product_name}}</h1></u>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="plotly-container">
    <div id="plotly-graph"></div>
    <u style="color: black;"><h3>Prisstatistik för produkten</h3></u>
<table style="height: 0.5%;">
    <thead>
        <tr>
            <th>Snitt pris (kr)</th>
            <th>Prisförändring senaste dygnet (kr / %)</th>
            <th>Prisförändring senaste 7 Dagarna (kr / %)</th>
            <th>Prisförändring senaste 14 Dagarna (kr / %)</th>
            <th>Prisförändring senaste 30 Dagarna (kr / %)</th>
            <!--
            <th>Price change last 6 Months (kr / %)</th>
            <th>Price change last Year (kr / %)</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product_metrics.average_price}}</td>
            <td style="color: {{ 'green' if product_metrics.price_change_yesterday != 'N/A' and product_metrics.price_change_yesterday >= 0 else 'red' }}">
                {{ product_metrics.price_change_yesterday }}
                {% if product_metrics.price_percentage_yesterday != 'N/A' %}
                    / {{ product_metrics.price_percentage_yesterday }}%
                {% endif %}
            </td>
            <td style="color: {{ 'green' if product_metrics.price_change_7_days != 'N/A' and product_metrics.price_change_7_days >= 0 else 'red' }}">
                {{ product_metrics.price_change_7_days }}
                {% if product_metrics.price_percentage_7_days != 'N/A' %}
                    / {{ product_metrics.price_percentage_7_days }}%
                {% endif %}
            </td>
            <td style="color: {{ 'green' if product_metrics.price_change_14_days != 'N/A' and product_metrics.price_change_14_days >= 0 else 'red' }}">
                {{ product_metrics.price_change_14_days }}
                {% if product_metrics.price_percentage_14_days != 'N/A' %}
                    / {{ product_metrics.price_percentage_14_days }}%
                {% endif %}
            </td>
            <td style="color: {{ 'green' if product_metrics.price_change_30_days != 'N/A' and product_metrics.price_change_30_days >= 0 else 'red' }}">
                {{ product_metrics.price_change_30_days }}
                {% if product_metrics.price_percentage_30_days != 'N/A' %}
                    / {{ product_metrics.price_percentage_30_days }}%
                {% endif %}
            </td>            <!--
            <td>Price change last 6 Months (kr / %)</td>
            <td>Price change last Year (kr / %)</td>
            -->
        </tr>
    </tbody>
</table>

<br>
<table style="height: 0.5%;">
    <thead>
        <tr>
            <th>Nuvarande pris (kr)</th>
            <th>Nuvarande Jmf-pris</th>
            <th>Högsta pris (kr)</th>
            <th>Lägsta pris (kr)</th>
            <th>Nuvarande Vikt / Volym</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product_metrics.current_price }}</td>
            <td>{{product_metrics.compare_price }}</td>
            <td>{{product.max_price}}</td   >
            <td>{{product.min_price}}</td>
            <td>{{product.weight }}</td>
        </tr>
    </tbody>
</table>

</div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph', graphJson.data, graphJson.layout);
</script>


{% endblock %}