{% extends "layout.html" %}

{% block title %}
    {{product.product_name}}
{% endblock %}

{% block main %}

<u><h1>{{product.product_name}}</h1></u>

<td><a href="/products"><h4>Go back</h4></a></td>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="plotly-graph"></div>
<script>
    // Parse the Plotly JSON and display the graph
    var graphJson = {{ graph_json|safe }};
    Plotly.newPlot('plotly-graph', graphJson.data, graphJson.layout);
</script>

<hr>

<u><h3>Statistics of product / WORK IN PROGRESS</h3></u>
<table>
    <thead>
        <tr>
            <th>All-time high (kr)</th>
            <th>All-time low (kr)</th>
            <th>Average price (kr)</th>
            <th>Price change last 7 Days (kr)</th>
            <th>Price change last 7 Days (%)</th>
            <th>Price change last 14 Days (kr)</th>
            <th>Price change last 14 Days (%)</th>
            <th>Price change last 30 Days (kr)</th>
            <th>Price change last 30 Days (%)</th>
            <!--
            <th>Price change last 6 Months (kr)</th>
            <th>Price change last 6 Months (%)</th>
            <th>Price change last Year (kr)</th>
            <th>Price change last Year (%)</th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product_metrics.all_time_high}}</td>
            <td>{{product_metrics.all_time_low}}</td>
            <td>{{product_metrics.average_price}}</td>
            <td>{{product_metrics.price_change_7_days}}</td>
            <td>{{product_metrics.price_percentage_7_days}}</td>
            <td>{{product_metrics.price_change_14_days}}</td>
            <td>{{product_metrics.price_percentage_14_days}}</td>
            <td>{{product_metrics.price_change_30_days}}</td>
            <td>{{product_metrics.price_percentage_30_days}}</td>
            <!--
            <td>Price change last 6 Months (kr)</td>
            <td>Price change last 6 Months (%)</td>
            <td>Price change last Year (kr)</td>
            <td>Price change last Year (%)</td>
            -->
        </tr>
    </tbody>
</table>


<div style="height: 300px; overflow-y: auto;">
<table>
    <thead>
        <tr>
            <th>Pushed Date</th>
            <th>Price (kr)</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in price_history %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}