{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2>Transaction History</h2>
    <table id="transaction-table" class="trt">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price per Share [USD]</th>
                <th>Total [USD]</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr class="{{ 'buy' if transaction.transaction_type == 'BUY' else 'sell' }} mx-auto w-auto">
                    <td>{{ transaction.transacted_at }}</td>
                    <td>{{ 'Buy' if transaction.transaction_type == 'BUY' else 'Sell' }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.price_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
