{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="register-container">
        <form id="buyForm" action="/sell" method="post">
            <div class="mb-3">
                <select class="form-control" id="symbol" name="symbol">
                    <optgroup label="Symbol" disabled>
                        <option value="" selected hidden>Symbol</option>
                    </optgroup>
                    {% for stock in stocks %}
                        <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control" id="shares" name="shares" pattern="[1-9]+" placeholder="Amount of Shares" type="number" min="1">
                <div id="sharesError" style="color: red;"></div>
            </div>
            <button class="btn-rainbow btn-primary" type="submit">Sell</button>
        </form>
    </div>

    <script src="static/js/buyValidation.js"></script>
    {% if symbol %}
       <h2>Stock Transaction Sell for {{ symbol }}</h2>
        <p> Price Per Share: {{ pricePerShare }}</p>
        <p> Shares: {{ shares }}</p>
        <p> Price: {{ price }}</p>
       
   {% endif %}
{% endblock %}
